
.container {
    background-color: white;
    padding: 20px;
    max-height: 980px;
    overflow-y: scroll;
    display: block;
}
.ptitle {
    font-size: 2rem;
    font-weight: 400;
}

.details {
    font-size: 1rem;
    font-weight: 200;
}

